.container {
    width: auto;
    margin: 100px;
    margin-top: 0;
    margin-left: 270px;
}

.product-items {
    padding: 10px;
}

.product-item {
    float: left;
    width: 20%;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
    line-height: 26px;
    height: 350px;
}
.product-item p {
    margin: 0;
    line-height: 26px;
    overflow: hidden;
    font-size: 14px;
}

.product-price {
    color: red;
    font-weight: bold;
}

.product-img {
    padding: 5px;
    margin-bottom: 5px;
}
.product-item img {
    max-width: 100%;
}

.product-item ul {
    margin: 0;
    padding: 0;
    border-right: 1px solid #ccc;
}
.product-item ul li {
    float: left;
    width: 33.3333%;
    list-style: none;
    text-align: center;
    border-right: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.buy-button {
    margin-top: 10px;
}
.filter{
    float: left;
    margin-left: -270px;
    margin-top: 15px;
}